body {
  width: 80%;
  margin: auto;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

h1 {
  font-size: 120px;
  margin: auto;
}

.button {
  font-size: 50px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  border-radius: 50%;
  color: black;
  border: 2px solid;
  padding:100px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;

}

.low-usage {
  color: lawngreen;
}

.medium-usage {
  color: orange;
}

.high-usage {
  color: red;
}

#turnPowerSaveOn {
    background-color: lawngreen;
}

#turnPowerSaveOff{
  background-color: red;
}

#increaseTemp{
  background-color: orange;
  padding:130px;
  font-size: 100px;
  font-weight: 700;
  border-radius: 45%;
}

#decreaseTemp{
  background-color: aquamarine;
  padding:130px;
  font-size: 100px;
  font-weight: 900;
  border-radius: 45%;
}

#resetTemp{
  background-color: yellow;
}
